main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}



@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}